*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Sarala', sans-serif;
}

body{
    background: url(../img/rm373batch13-086.jpg) no-repeat;
    font-size: 1rem;
}

a{
    position: absolute;
    bottom: 10px;
    color: rgba(201, 201, 201, 0.753);
}
